In [1]:
import datetime
import seaborn as sns
import warnings
import matplotlib.pyplot as plt
from numpy.polynomial.polynomial import polyfit
import matplotlib.style as style 
from IPython.display import Image
warnings.filterwarnings('ignore')\

In [2]:
# 원본 데이터 불러오기
sns_data = pd.read_csv("2020 bigcontest data_wisenut.csv", sep="")
sns_data.head()

,SEQ,GU_CD,GU_NM(삭제),DONG_CD,DONG_NM(삭제),NEWS_CNT_201902,NEWS_CNT_201903,NEWS_CNT_201904,NEWS_CNT_201905,NEWS_CNT_202002,...,UP5_NEGATIVE_202004,UP5_NEGATIVE_202005,UP6_NEGATIVE_201902,UP6_NEGATIVE_201903,UP6_NEGATIVE_201904,UP6_NEGATIVE_201905,UP6_NEGATIVE_202002,UP6_NEGATIVE_202003,UP6_NEGATIVE_202004,UP6_NEGATIVE_202005
0,1,140,서울 중구,520,소공동,4,6,16,34,26,...,24,0,7,11,186,5,1,6,0,10
1,2,140,서울 중구,540,회현동,4,0,8,27,15,...,27,17,49,1,63,251,0,58,0,71
2,3,140,서울 중구,550,명동,6,16,29,44,162,...,35,46,34,74,226,137,17,84,22,326
3,4,140,서울 중구,570,필동,0,1,5,24,2,...,24,0,1,17,162,14,0,46,22,37
4,5,140,서울 중구,580,장충동,13,8,13,34,20,...,8,17,0,0,199,12,5,0,22,125

## 1. sns_final_data 불러오기

In [6]:
sns_dt = pd.read_csv("SNS_final_01.csv")
sns_dt.head()

     date  Type sj_cnt sn_cnt ds_cnt dj_cnt
0  201902  News     46     88     85     44
1  201903  News     49    150     95     68
2  201904  News     75     37    136     43
3  201905  News    214    134    404     79
4  202002  News    259    172    986    248

## 2. 지역별 columns = date, news, blog, cafe...UP6_negative 로 되어있는 DataFrame 만들기

### 1) 서울 종구 데이터

In [65]:
sns_se_j = pd.DataFrame()
sns_se_j["date"] = sns_dt["date"].loc[0:7]
sns_se_j

     date
0  201902
1  201903
2  201904
3  201905
4  202002
5  202003
6  202004
7  202005

In [113]:
cnt = 0
for x in range(0, 128, 8):
    sns_se_j[cnt] = list(sns_dt["sj_cnt"][x:x+8])
    cnt += 1

In [117]:
sns_se_j = sns_se_j.rename(columns={0:"News", 1:"Blog", 2:"Cafe", 3:"UP_Topic", 4:"UP1_Pos", 5:"UP2_Pos", 6:"UP3_Pos"
                                    , 7:"UP4_Pos", 8:"UP5_Pos", 9:"UP6_Pos", 10:"UP1_Neg", 11:"UP2_Neg", 12:"UP3_Neg"
                                    , 13:"UP4_Neg", 14:"UP5_Neg", 15:"UP6_Neg"})

In [127]:
sns_se_j.head(3)

,date,News,Blog,Cafe,UP_Topic,UP1_Pos,UP2_Pos,UP3_Pos,UP4_Pos,UP5_Pos,UP6_Pos,UP1_Neg,UP2_Neg,UP3_Neg,UP4_Neg,UP5_Neg,UP6_Neg
0,201902,46,2507,200,"장관,기념식,창간,롯데호텔,뷔페회현동,서울역,도시재생,윤동주,일제강점기생활유산,열쇠...",194,48,604,125,48,1966,188,12,111,13,2,177
1,201903,49,7605,729,"총동창회,서울대,박물관,월드비전,프로그램남산,케이블카,남산둘레길,국립극장,남산타워문...",1278,42,1860,832,649,4802,38,13,235,123,103,214
2,201904,75,8565,730,"기생충,반민특위,강원도,이재민,푯돌서울지방경찰청,경복궁역,종교교회,용비어천가,종로구...",1474,760,2705,1647,792,925,63,7,3171,785,844,1414

### 2) 서울 노원구 데이터

In [123]:
sns_se_n = pd.DataFrame()
sns_se_n["date"] = sns_dt["date"].loc[0:7]

In [124]:
cnt = 0
for x in range(0, 128, 8):
    sns_se_n[cnt] = list(sns_dt["sn_cnt"][x:x+8])
    cnt += 1

sns_se_n = sns_se_n.rename(columns={0:"News", 1:"Blog", 2:"Cafe", 3:"UP_Topic", 4:"UP1_Pos", 5:"UP2_Pos", 6:"UP3_Pos"
                                    , 7:"UP4_Pos", 8:"UP5_Pos", 9:"UP6_Pos", 10:"UP1_Neg", 11:"UP2_Neg", 12:"UP3_Neg"
                                    , 13:"UP4_Neg", 14:"UP5_Neg", 15:"UP6_Neg"})

In [126]:
sns_se_n.head(3)

,date,News,Blog,Cafe,UP_Topic,UP1_Pos,UP2_Pos,UP3_Pos,UP4_Pos,UP5_Pos,UP6_Pos,UP1_Neg,UP2_Neg,UP3_Neg,UP4_Neg,UP5_Neg,UP6_Neg
0,201902,88,3056,178,"노원구청장,노원구,도봉운전면허시험장,불암산,힐링타운플레이스,해링턴,태릉,서울경제,초...",32,8,306,366,108,317,18,0,121,13,8,168
1,201903,150,3060,462,"광운대,불암산,체육관,국비30억,구청장수영장,확충지원,아침체조교실,기공체조,태릉효성...",181,56,744,801,185,4020,1,16,25,221,26,114
2,201904,37,4429,410,"보합세,전용다리,학여울청구아파트,강남,연장교량무순위,청약,아파트,견본주택,역세권월계...",1350,271,646,1027,208,650,0,0,1248,114,435,472

### 3) 대구 수성구 데이터

In [129]:
sns_da_s = pd.DataFrame()
sns_da_s["date"] = sns_dt["date"].loc[0:7]

In [131]:
cnt = 0
for x in range(0, 128, 8):
    sns_da_s[cnt] = list(sns_dt["ds_cnt"][x:x+8])
    cnt += 1

sns_da_s = sns_da_s.rename(columns={0:"News", 1:"Blog", 2:"Cafe", 3:"UP_Topic", 4:"UP1_Pos", 5:"UP2_Pos", 6:"UP3_Pos"
                                    , 7:"UP4_Pos", 8:"UP5_Pos", 9:"UP6_Pos", 10:"UP1_Neg", 11:"UP2_Neg", 12:"UP3_Neg"
                                    , 13:"UP4_Neg", 14:"UP5_Neg", 15:"UP6_Neg"})

In [132]:
sns_da_s.head(3)

,date,News,Blog,Cafe,UP_Topic,UP1_Pos,UP2_Pos,UP3_Pos,UP4_Pos,UP5_Pos,UP6_Pos,UP1_Neg,UP2_Neg,UP3_Neg,UP4_Neg,UP5_Neg,UP6_Neg
0,201902,85,5893,74,"고령성주칠곡,정치자금법,자유한국당,영남상생포럼,그랜드호텔중기중앙회,아양아트센터,아쿠...",6,19,368,623,128,139,58,21,200,1043,8,41
1,201903,95,18015,2054,"오피스텔,수성시장역,전세임차권,랜드마크,두산위브대구경부지구회,군국가요,아트도서관,한...",416,34,1859,1708,1594,24517,0,4,48,178,63,464
2,201904,136,4375,667,"범어공원,사유지,도시공원,대구환경운동연합,공원구역대한적십자사,보강병원,봉산문화회관,...",283,2,403,706,62,437,17,3,86,146,788,57

### 4) 대구 중구 데이터

In [133]:
sns_da_j = pd.DataFrame()
sns_da_j["date"] = sns_dt["date"].loc[0:7]

In [134]:
cnt = 0
for x in range(0, 128, 8):
    sns_da_j[cnt] = list(sns_dt["dj_cnt"][x:x+8])
    cnt += 1

sns_da_j = sns_da_j.rename(columns={0:"News", 1:"Blog", 2:"Cafe", 3:"UP_Topic", 4:"UP1_Pos", 5:"UP2_Pos", 6:"UP3_Pos"
                                    , 7:"UP4_Pos", 8:"UP5_Pos", 9:"UP6_Pos", 10:"UP1_Neg", 11:"UP2_Neg", 12:"UP3_Neg"
                                    , 13:"UP4_Neg", 14:"UP5_Neg", 15:"UP6_Neg"})

In [135]:
sns_da_j.head(3)

,date,News,Blog,Cafe,UP_Topic,UP1_Pos,UP2_Pos,UP3_Pos,UP4_Pos,UP5_Pos,UP6_Pos,UP1_Neg,UP2_Neg,UP3_Neg,UP4_Neg,UP5_Neg,UP6_Neg
0,201902,44,801,8,"소녀상,위안부,국채보상운동기념공원,아트스페이스,두류정수장민간위탁,도서관,공공도서관,...",102,0,114,168,76,85,21,0,84,385,0,27
1,201903,68,8382,46,"민간위탁,도서관,중구청,도심재생문화재단,도시환경위원회경북대병원,민간위탁,어린이,도서...",66,51,285,462,662,1055,0,2,29,17,31,50
2,201904,43,1706,314,"대구국제마라톤대회,국채보상운동,국제육상경기연맹,신청사,식목일버닝썬,라이브카페,소규모...",310,4,906,396,37,229,4,2,162,47,526,58

In [136]:
sns_se_j.to_csv("SNS_Seoul_j.csv", index = False)
sns_se_n.to_csv("SNS_Seoul_n.csv", index = False)
sns_da_s.to_csv("SNS_Daegu_s.csv", index = False)
sns_da_j.to_csv("SNS_Daegu_j.csv", index = False)

## 3. 데이터 합치기

In [139]:
# sns_se_j 데이터에 "서울 중구" 데이터 입력
sns_se_j["Region"] = "서울 중구"
sns_se_j["Region"].loc[1:] = "서울 중구"

In [142]:
# sns_se_n 데이터에 "서울 노원구" 데이터 입력
sns_se_n["Region"] = "서울 노원구"
sns_se_n["Region"].loc[1:] = "서울 노원구"

# sns_da_s 데이터에 "대구 수성구" 데이터 입력
sns_da_s["Region"] = "대구 수성구"
sns_da_s["Region"].loc[1:] = "대구 수성구"

# sns_da_j 데이터에 "대구 중구" 데이터 입력
sns_da_j["Region"] = "대구 중구"
sns_da_j["Region"].loc[1:] = "대구 중구"

In [144]:
# 데이터 합치기
sns_final = sns_se_j.copy()

In [147]:
sns_final = sns_final.append(sns_se_n)
sns_final = sns_final.append(sns_da_s)
sns_final = sns_final.append(sns_da_j)
sns_final

,date,News,Blog,Cafe,UP_Topic,UP1_Pos,UP2_Pos,UP3_Pos,UP4_Pos,UP5_Pos,UP6_Pos,UP1_Neg,UP2_Neg,UP3_Neg,UP4_Neg,UP5_Neg,UP6_Neg,Region
0,201902,46,2507,200,"장관,기념식,창간,롯데호텔,뷔페회현동,서울역,도시재생,윤동주,일제강점기생활유산,열쇠...",194,48,604,125,48,1966,188,12,111,13,2,177,서울 중구
1,201903,49,7605,729,"총동창회,서울대,박물관,월드비전,프로그램남산,케이블카,남산둘레길,국립극장,남산타워문...",1278,42,1860,832,649,4802,38,13,235,123,103,214,서울 중구
2,201904,75,8565,730,"기생충,반민특위,강원도,이재민,푯돌서울지방경찰청,경복궁역,종교교회,용비어천가,종로구...",1474,760,2705,1647,792,925,63,7,3171,785,844,1414,서울 중구
3,201905,214,5966,1078,"동계올림픽,은퇴,여제,기자회견,눈물저작권,녹색교통지역,기부채납,최고,인지중구,문화예...",967,370,5100,11214,652,1997,53,3,784,2232,38,452,서울 중구
4,202002,259,2813,2738,"롯데백화점,마포공덕점,프레지던트호텔,코로나바이러스,확진자남산,남촌,중림,고도제한,개...",249,11,400,464,376,294,171,32,231,302,339,27,서울 중구
5,202003,119,2917,1465,"직원,롯데호텔,콜센터,코로나,확진자코로나19,남산둘레길,기부 행렬,랜드마크,남녀노소...",147,13,2005,1266,242,1130,114,3,638,527,272,226,서울 중구
6,202004,115,1262,1050,"도시계획위원회,정비계획,재개발구역,서소문,정비수법코로나19,구조조정,산업단지,원장,...",611,132,912,361,40,175,30,180,337,452,225,91,서울 중구
7,202005,82,2975,904,"창조인상,생명과학부,예술감독,코로나19,RNA시민아파트,시범아파트,서울시장,충정아파...",1400,460,2809,1792,2989,2574,762,452,854,842,153,749,서울 중구
0,201902,88,3056,178,"노원구청장,노원구,도봉운전면허시험장,불암산,힐링타운플레이스,해링턴,태릉,서울경제,초...",32,8,306,366,108,317,18,0,121,13,8,168,서울 노원구
1,201903,150,3060,462,"광운대,불암산,체육관,국비30억,구청장수영장,확충지원,아침체조교실,기공체조,태릉효성...",181,56,744,801,185,4020,1,16,25,221,26,114,서울 노원구
2,201904,37,4429,410,"보합세,전용다리,학여울청구아파트,강남,연장교량무순위,청약,아파트,견본주택,역세권월계...",1350,271,646,1027,208,650,0,0,1248,114,435,472,서울 노원구
3,201905,134,4244,446,"광운대역세권,코레일,경춘선,군사분계선,구청장서울대학교,경춘선숲길,서울과학기술대학교,...",162,9,2252,8499,558,623,48,2,423,2191,10,127,서울 노원구
4,202002,172,1550,1842,"상승폭,광운대역세권,코레일,풍선효과,코로나19돗가비,코로나19,확진자,주거환경,자가...",13,6,496,946,330,60,0,0,271,158,136,17,서울 노원구
5,202003,27,1160,1338,"부동산,풍선효과,퇴근길,무빙워크,손잡이우체국,다세대,경기권,자연조건,헛걸음강북,상승...",12,5,691,1568,400,432,4,1,433,307,120,8,서울 노원구
6,202004,28,951,662,"급매물,낙찰가,하락세,감정가,사전협상장기미집행,도시공원,도시자연공원구역,주택,경매코...",237,238,2797,391,75,100,1,0,144,738,105,28,서울 노원구
7,202005,46,1751,455,"아파트,성폭행,코로나19,확진자,노원구보행약자,경춘선,운동량,따릉이,감염코로나19,...",514,2,2524,14027,3584,499,97,54,965,1459,29,192,서울 노원구
0,201902,85,5893,74,"고령성주칠곡,정치자금법,자유한국당,영남상생포럼,그랜드호텔중기중앙회,아양아트센터,아쿠...",6,19,368,623,128,139,58,21,200,1043,8,41,대구 수성구
1,201903,95,18015,2054,"오피스텔,수성시장역,전세임차권,랜드마크,두산위브대구경부지구회,군국가요,아트도서관,한...",416,34,1859,1708,1594,24517,0,4,48,178,63,464,대구 수성구
2,201904,136,4375,667,"범어공원,사유지,도시공원,대구환경운동연합,공원구역대한적십자사,보강병원,봉산문화회관,...",283,2,403,706,62,437,17,3,86,146,788,57,대구 수성구
3,201905,404,18119,2135,"음주운전,범어네거리,상가,아파트,푸르지오투숙객,별관,국립과학수사연구원,경찰관계자,소...",888,6,522,9091,100,675,355,6,63,1671,27,498,대구 수성구
4,202002,986,7193,1424,"확진자,코로나19,음압병실,청정지역,폐렴확진자,코로나19,신천지,어린이집,격리코로나...",206,40,607,2522,803,967,701,0,708,3818,790,1269,대구 수성구
5,202003,369,6425,915,"코로나19,플래티넘,쌍용,확진자,견본주택코로나19,현대엔지니어링,주상복합,중앙방역대...",98,227,315,1723,314,488,270,16,169,666,550,1349,대구 수성구
6,202004,620,4666,1158,"쌍용,플래티넘,코로나19,전용면적,경쟁률미래통합당,더불어민주당,코로나19,현대엔지니...",29,624,1173,1012,723,428,0,6,222,154,91,776,대구 수성구
7,202005,600,7076,1578,"코로나19,확진자,주거시설,학부모,금감원장이용수,정의기억연대,위안부,윤미향,더불어민...",617,999,3928,14805,2127,1196,82,93,871,1366,476,1696,대구 수성구
0,201902,44,801,8,"소녀상,위안부,국채보상운동기념공원,아트스페이스,두류정수장민간위탁,도서관,공공도서관,...",102,0,114,168,76,85,21,0,84,385,0,27,대구 중구
1,201903,68,8382,46,"민간위탁,도서관,중구청,도심재생문화재단,도시환경위원회경북대병원,민간위탁,어린이,도서...",66,51,285,462,662,1055,0,2,29,17,31,50,대구 중구
2,201904,43,1706,314,"대구국제마라톤대회,국채보상운동,국제육상경기연맹,신청사,식목일버닝썬,라이브카페,소규모...",310,4,906,396,37,229,4,2,162,47,526,58,대구 중구
3,201905,79,8621,932,"석류꽃,리사이클센터,도심재생문화재단,경북대병원,국립대병원파견용역노동자,국립대병원,경...",655,67,356,10719,127,1494,180,1,20,2161,23,491,대구 중구
4,202002,248,3496,769,"응급실,코로나,특별재난지역,마스크,신천지코로나,응급실,폐쇄,경북대병원,자가격리신천지...",35,9,341,1193,349,255,342,0,24,893,493,156,대구 중구
5,202003,67,2469,99,"코로나,드론,방역,서문시장,확진자코로나,공무원,드론,의료진,대구동산병원지역아동센터,...",42,57,224,178,38,87,118,26,68,49,91,88,대구 중구
6,202004,125,1321,64,"안심음식점,투표,확진자,위생방역물품,긴급재난지원금코로나,손님,백화점,대구경북연구원,...",7,10,113,85,43,176,5,0,18,93,12,17,대구 중구
7,202005,35,2874,396,"집합금지,코로나,방역,긴급구제,유흥시설원내대표,미래통합당,개별공시지가,삼덕동코로나바...",164,44,890,4658,574,549,28,1,300,371,32,23,대구 중구

In [148]:
# SNS_Final_02.csv 저장
sns_final.to_csv("SNS_Final_02.csv", index = False)